body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ff6f61;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    font-size: 3em;
}

.intro {
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
}

.memories {
    text-align: center;
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 1em;
    background-color: #333;
    color: white;
}